<!-- start parallax section -->
<section class="parallax wow fadeIn" data-stellar-background-ratio="0.3" style="background-image:url('images/mountain_peak.jpg');">
	<div class="opacity-extra-medium bg-black"></div>
	<div class="container position-relative">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-6 col-md-10 text-center last-paragraph-no-margin">
				<a class="popup-youtube" ><img src="images/icon-play.png" class="width-130px" alt=""/></a>
				<h4 class="alt-font text-white-2 margin-15px-bottom sm-margin-20px-bottom">Omnius creates websites that cut through the noise</h4>
			</div>
		</div>
	</div>
</section>
<!-- end parallax section -->