<!-- start call to action section -->
<section class="wow fadeIn padding-50px-tb border-top border-color-extra-light-gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-xl-6 col-lg-6 col-md-6 col-xs-12 text-center p-2">
				<h6 class="alt-font text-extra-dark-gray text-uppercase font-weight-500 width-80 mx-auto margin-35px-bottom lg-width-100 wow fadeInUp">Add Andrei on LinkedIn <br/>&nbsp;</h6>
				<a data-wow-delay="0.2s" class="btn btn-medium btn-rounded btn-deep-pink"  href="https://www.linkedin.com/in/andrei-roncea/">Submit Your Info</a>
				
				
			</div>
			<div class="col-12 col-xl-6 col-lg-6 col-md-6 col-xs-12 text-center p-2">
				<h6 class="alt-font text-extra-dark-gray text-uppercase font-weight-500 width-80 mx-auto margin-35px-bottom lg-width-100 wow fadeInUp">Let's know about you and your business</h6>
				<a href="https://form.typeform.com/to/cKSs19" data-mode="popup"  target="_blank" class="btn btn-medium btn-rounded btn-deep-pink wow fadeInUp typeform-share button" data-wow-delay="0.2s">Submit Info</a>
				<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
			</div>
		</div>
	</div>
</section>
<!-- end call to action section -->   