<!-- start contact form -->
<section id="contact" class="wow fadeIn pt-3 bg-extra-dark-gray">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-lg-6 wow fadeIn">
				<!-- Calendly inline widget begin -->
				<div class="calendly-inline-widget" data-url="https://calendly.com/andreironcea/15min" style="min-width:320px;height:830px;">
				</div>
				<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
				<!-- Calendly inline widget end -->
			</div>
			<div class="col-12 col-lg-6 text-center padding-six-lr padding-five-half-tb md-padding-ten-half-tb md-padding-twelve-half-lr sm-padding-15px-lr wow fadeIn">
				<div class="text-medium-gray alt-font text-small text-uppercase margin-5px-bottom sm-margin-three-bottom">Fill out the form and we'll be in touch soon!</div>
				<h5 class="margin-55px-bottom text-white-2 alt-font font-weight-700 text-uppercase sm-margin-ten-bottom">Ready to request a quote?</h5>
  
				<form id="project-contact-form" class="kwes-form" method="POST" action="https://kwes.io/api/foreign/forms/nBXdo6OVkv2eeTt0fWun">
					<div class="row">
						<div class="col-12">
							<div id="success-project-contact-form" class="mx-0"></div>
						</div>
						<div class="col-12 col-lg-6">
							<input type="text" name="name" id="name" placeholder="Name *" class="bg-transparent border-color-medium-dark-gray medium-input">
						</div>
						<div class="col-12 col-lg-6">
							<input type="text" name="phone" id="phone" placeholder="Phone" class="bg-transparent border-color-medium-dark-gray medium-input">
						</div>
						<div class="col-12 col-lg-6">
							<input type="text" name="email" id="email" placeholder="E-mail *" class="bg-transparent border-color-medium-dark-gray medium-input">
						</div>
						<div class="col-12 col-lg-6">
							<div class="select-style bg-transparent border-color-medium-dark-gray medium-select">
								<select name="budget" id="budget" class="bg-transparent mb-0">
									<option value="">Select your budget</option>
									<option value="$1000 - $2000">$1000 - $2000</option>
									<option value="$2000 - $4000">$2000 - $4000</option>
									<option value="$4000 - $8000">$4000 - $8000</option>
									<option value="$9000 - $15000">$9000 - $15000</option>
								</select>
							</div>
						</div>
						<div class="col-12">
							<textarea name="comment" id="comment" placeholder="Describe your project" rows="7" class="bg-transparent border-color-medium-dark-gray medium-textarea"></textarea>
						</div>
						<div class="col-12 text-center">
							<button type="submit" class="btn btn-deep-pink btn-medium margin-15px-top">send message</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- end contact form -->