	<!-- start FAQs section -->
	<section class="wow fadeIn">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-four-bottom">
FREQUENTLY ASKED QUESTIONS</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-4 col-md-4">
					<!-- start accordion -->
					<div class="panel-group accordion-style1" id="accordion-two">
						<!-- accordion item -->
						<div class="panel">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link1" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">How would switching over work if I have a website?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
							</div>
							<div id="accordion-two-link1" data-parent="#accordion-two" class="panel-collapse collapse">
								<div class="panel-body">
									<p>It’s very simple. You retain ownership of your domain and simply point your domain to our hosting provider- and we host your website. Unlike other agencies there’s no long-term contract with us and no penalty for moving agencies (although we hope you stay with us indefeinitely!) so it would be just as simple to switch over to a different agency in the future.</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="panel">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link2" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What are some of the questions you’d ask me if we decided to work with you?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
							</div>
							<div id="accordion-two-link2" data-parent="#accordion-two" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Omnius prides itself into taking a real interest in our clients’ businesses. We’ll ask you about how you want to position your brand, your goals, your pain points, your target audience, your aesthetic preferences, the services and products you offer, your industry and competitors, the assets you already have (website-related ones) and the ones you’ll need to be created, deadlines, </p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->	
						<!-- start accordion item -->
						<div class="panel">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link3" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Why do I need a modern/professional website?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
							</div>
							<div id="accordion-two-link3" data-parent="#accordion-two" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Research shows that people buy more from design-driven companies. Design-driven companies outperform the S&P by 228% over 10 years.</p>
									<p>People form first impressions about websites, people, etc. in 1/10th of a second or 50 milliseconds, based entirely on visuals. By connecting with your audience on a personal level, you gain the ability to dramatically increase your conversion rates.</p>
								</div>
							</div>
						</div>
					<!-- end accordion item -->	
					<!-- start accordion item -->
						<div class="panel">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link4" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Do you provide SEO?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
							</div>
							<div id="accordion-two-link4" data-parent="#accordion-two" class="panel-collapse collapse">
								<div class="panel-body">
									<p>We provide basic SEO on all packages.We’ll integrate Google Analytics for you, give you an SSL certificate, make sure your website is mobile-friendly, high-speed hosting, and ensure you have a visually-appealing website to keep time-on-page high. All of which are primary ranking factors for websites on Google.</p>
									<p>However we do have a monthly SEO plan that involves much more work so please inquire about that if you are interested. We're proud to offer what we think is a unique offer in the GTA- a money-back guarantee if your site does not end up improving in keyword position rankings or getting more organic traffic at the end of the month. Gone are the days of paying thousands for SEO only to find that nothing has changed. No more "SEO takes months before you see any improvements". If your site doesn't improve (and we do vet clients before taking you on) then we don't get paid.</p>
								</div>
							</div>
						</div>
					<!-- end accordion item -->	
										
					</div>
					<!-- end accordion -->
					</div>
				<div class="col-12 col-lg-4 col-md-4">
					<!-- start accordion -->
					<div class="panel-group accordion-style1" id="accordion-one">
					<!-- start accordion item -->
					<div class="panel">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link8" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Do you use Google Analytics?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
						</div>
						<div id="accordion-one-link8" data-parent="#accordion-one" class="panel-collapse collapse">
							<div class="panel-body">
								<p>What isn't measured can't be improved, so Google Analytics is implemented into every website we make. For our enterprise package we also install Hotjar which is a heatmap and visitor recording software that lets us optimize the site through seeing where visitors go and what they have trouble with.</p>
							</div>
						</div>
					</div>
				<!-- end accordion item -->	
				<!-- start accordion item -->
					<div class="panel">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link9" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">How quickly can I expect results?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
						</div>
						<div id="accordion-one-link9" data-parent="#accordion-one" class="panel-collapse collapse">
							<div class="panel-body">
								<p>In most cases you can expect your new website within 1 month of us receiving the content needed (text, pictures, videos). However as for leads coming from your website, that depends a lot on amount of visitors going to your site. A site is vital for the lead conversion step of a sale, but does little for lead generation (paying for SEO - Search Engine Optimization -  can help you get traffic from Google over time but with 0 traffic outside of Google searches Google won't rank you anyways). It is up to you to ensure you have potential leads coming in from social media, word of mouth, and digital marketing even - which we can help with. It is up to us to convert these visitors into a lead, and also up to you to have a salient offer that entices people to want to take the next step with you.</p>
							</div>
						</div>
					</div>
				<!-- end accordion item -->	
				<!-- start accordion item -->
					<div class="panel">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link10" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">How much effort does a new site take on my part?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
						</div>
						<div id="accordion-one-link10" data-parent="#accordion-one" class="panel-collapse collapse">
							<div class="panel-body">
								<p>There's 6 steps to your new website. 
				1) Learn what your needs are and send you a proposal 
				2) Quote you the project 
				3) Online contract on Docusign
				4) Send us your content
				5) Finish. That includes 2 free revisions once it is done.
				6) Follow-up after a month looking at your analytics and your results.</p>
							</div>
						</div>
					</div>
				<!-- end accordion item -->	
				<!-- start accordion item -->
					<div class="panel">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link11" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What can a new website do?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
						</div>
						<div id="accordion-one-link11" data-parent="#accordion-one" class="panel-collapse collapse">
							<div class="panel-body">
								<p>1) Get calls
				2) Get emails
				3) Get calls booked through a tool like Calendly
				4) Get interactive surveys filled out through a tool like Typeform
				5) Give visitors incentives to enter a contest
				6) Enter visitors into an email list
				7) Get information through analytics that lets you know what parts of your business intrigue a visitor most
				8) Have users become members of your site
				9) And even if a user takes no action on your site- build trust so that someone on the fence about you chooses to buy.</p>
							</div>
						</div>
					</div>
				<!-- end accordion item -->	
				<!-- start accordion item -->
					<div class="panel">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link12" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">How much does a website cost?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
						</div>
						<div id="accordion-one-link12" data-parent="#accordion-one" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Omnius doesn't do cookie-cutter websites, so there's no such thing as just one price. We do have a pricing section that shows different packages however. In addition, for some clients we offer the ability to apply for a pay-per-lead website and online strategy that is free up-front but that is charged weekly on a per-lead basis. This is best reserved for large law or construction firms that don't believe a website would be worth it (and considering the fact that some web developers would charge these firms in the mid 5-figures to make such a site who can blame them for refusing to make that investment).</p>
							</div>
						</div>
					</div>
				<!-- end accordion item -->	
				
				<!-- end accordion item -->
				</div>				
				</div>
				<div class="col-12 col-lg-4 col-md-4">
					<!-- start accordion -->
					<div class="panel-group accordion-style1" id="accordion-three">
					<!-- start accordion item -->
					<div class="panel">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link1" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">How does working with you month over month work?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
						</div>									
						<div id="accordion-three-link1" data-parent="#accordion-three" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Monthly hosting is free. We only charge an initial fee, no residual fees whatsoever (unless you would like advanced SEO work done). Offering free hosting is a service we're happy to provide and if you need updates/changes (after your free round of revisions) we just charge you our hourly fee.</p>
							</div>
						</div>
					</div>
					<!-- end accordion item -->	
					<!-- start accordion item -->
					<div class="panel">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link2" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Are your websites mobile-responsive?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
						</div>
						<div id="accordion-three-link2" data-parent="#accordion-three" class="panel-collapse collapse">
							<div class="panel-body">
								<p>They are very mobile-responsive. Why? 70% of online searches in the US are now conducted on mobile devices. The percentage of time spent on mobile vs desktop is even larger. Because of that we focus on mobile-responsiveness BEFORE desktop-responsiveness. What does that mean? Making sure there is adequate space for buttons or links to be clicked, readable text without requiring zoom, no horizontal scrolling, and sizing page content to fit comfortably on the page.</p>								
							</div>
						</div>
					</div>
					<!-- end accordion item -->	
					<!-- start accordion item -->
					<div class="panel">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link3" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Why do websites build trust?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
						</div>
						<div id="accordion-three-link3" data-parent="#accordion-three" class="panel-collapse collapse">
							<div class="panel-body">
								
									<p>They show you're committed to your business and not a fly-by-night operation. Much like having an office ties you to a physical location, a website ties you to a virtual location. People will always be able to navigate to your website and find your information.</p>
									<p>On top of that, having a professional and modern website shows potential clients you've put in the effort to take care of your online visitors. An accessibility ramp is important for physical locations, and a modern website is important for your virtual location. Old websites are hard to navigate, aren't mobile-friendly, and are hard on the eyes.</p>
									<p>And finally, a new website will be laser-focused on getting leads instead of just acting as an online business card. One that takes the potential client through a predictable trail ending in "the promised land" a call or email to get more information. In 2020, we can do one step better. Calendly is getting phone calls but on steroids, and Typeform is an email on steroids. No more low-quality leads!</p>
									<p>On top of that, having a professional and modern website shows potential clients you've put in the effort to take care of your online visitors. An accessibility ramp is important for physical locations, and a modern website is important for your virtual location. Old websites are hard to navigate, aren't mobile-friendly, and are hard on the eyes.</p>
									<p>And finally, a new website will be laser-focused on getting leads instead of just acting as an online business card. One that takes the potential client through a predictable trail ending in "the promised land" a call or email to get more information. In 2020, we can do one step better. Calendly is getting phone calls but on steroids, and Typeform is an email on steroids. No more low-quality leads!</p>
							</div>
						</div>
					</div>
					<!-- end accordion item -->	
					<!-- start accordion item -->
					<div class="panel">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link4" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What if I don't have pictures for my website?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
						</div>
						<div id="accordion-three-link4" data-parent="#accordion-three" class="panel-collapse collapse">
							<div class="panel-body">
								
								<p>Sadly there's no way around pictures on your website these days. Luckily there are easier ways of getting pictures than you might expect. We can assist you in this process by either by putting you in touch with a photographer or buying stock photos we think would fit well on your site. As a last resort, smartphone cameras are amazing these days and taking some landscape photos of your office, work done, or team can be done for free and in no time.</p>
							</div>
						</div>
					</div>
					<!-- end accordion item -->		
					<!-- start accordion item -->
					<div class="panel">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What's the difference between hosting &amp; domain registration?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
						</div>
						<div id="accordion-three-link5" data-parent="#accordion-three" class="panel-collapse collapse">
							<div class="panel-body">
								
								<p>Website hosting is where your website is "stored" online. It's where the website is kept so that when a user visits your site the website hosting provider can send your website over to them. We personally use Siteground and WPengine, the best hosting providers for HTML and Wordpress websites respectively.</p>
								<p>Domain registration is just registering the name with an authroized domain registrar. We've used GoDaddy for years and never had an issue- their support is stellar.</p>
								<p>We expect clients to buy their domain name (which you should do - much like you shouldn't hire a firm to register your business as an LLC under their name), but we provide the hosting for free.</p>
							</div>
						</div>
					</div>
					<!-- end accordion item -->	
					</div>
				</div>
			</div>
		</div>
	</section> 
	<!-- end FAQs section -->