<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<header class="fixed-topbar">
	<!-- start navigation -->
	<nav class="navbar navbar-fixed-top navbar-default bootsnav header-dark background-transparent white-link navbar-expand-lg">
				
		<div class="container nav-header-container">
			<!-- start logo -->
			<div class="col-auto pl-lg-0">
				<a href="/" title="Omnius" class="logo"><img src="images/logo.png" data-rjs="images/logo.png" class="logo-dark" alt="Omnius"><img src="images/logo-white.png" data-rjs="images/logo-white.png" alt="Omnius" class="logo-light default"></a>
			</div>
			<!-- end logo -->
			<div class="col accordion-menu pr-5 pr-md-3">
				<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
					<span class="sr-only">toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-collapse collapse justify-content-end" id="navbar-collapse-toggle-1">
					<ul id="accordion" class="nav navbar-nav no-margin alt-font text-normal">
						<!-- start menu item -->
						<li>
							<a href="/">Home</a>					
						</li>
						<li>
							<a href="/about">About</a>					
						</li>
						<li>
							<a href="/services">Services</a>						
						</li>
						<li>
							<a href="/pricing">Pricing</a>						
						</li>
						<li>
							<a href="/portfolio">Portfolio</a>					
						</li>
						<li>
							<a href="/contact">Contact</a>						
						</li>
						<li>
							<a href="/careers">Careers</a>						
						</li>
						<!--<li class="book-call mt-3">
							<a class="book-button" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/andreironcea/15min'});return false;" >Book Call</a>						
						</li>-->
					</ul>
				</div>
			</div>
			<div class="col col-md-auto col-lg-2 pr-3 text-right">
				<a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/andreironcea/15min'});return false;"  target="_blank" class="btn btn-very-small btn-rounded btn-white box-shadow-dark">Book Call</a>
				
			</div>			
		</div>
	</nav>
	<!-- end navigation --> 
</header>
