<!-- title -->
<meta charset="utf-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
<title>Omnius Web Development</title>
<meta name="keywords" content="Web Development" /> <meta name="description" content="Omnius Web Development is a premium web design company. Discover new ways to improve trust, traffic and conversions."> <meta name="author" content="Omnius">
<meta property="og:title" content="Omnius Web Development" /><meta property="og:url" content="https://www.omniuswebdevelopment.ca" />
<meta name="google-site-verification" content="0n4nzoVBYTrA64ONKj77ycAj4c_r5R2AxOD_TBuYM30" />
<meta property="og:image" content="images/logo-white.png">
<!-- favicon -->
<!-- add icon link -->

<link rel="icon" href="images/logo-white.png" type="image/x-icon"> 
<link rel="shortcut icon" href="images/logo-white.png">
<link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
<!-- animation -->
<link rel="stylesheet" href="/css/animate.css" />
<!-- bootstrap -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<!-- et line icon --> 
<link rel="stylesheet" href="/css/et-line-icons.css" />
<!-- font-awesome icon -->
<link rel="stylesheet" href="/css/font-awesome.min.css" />
<!-- themify icon -->
<link rel="stylesheet" href="/css/themify-icons.css">
<!-- swiper carousel -->
<link rel="stylesheet" href="/css/swiper.min.css">
<!-- justified gallery  -->
<link rel="stylesheet" href="/css/justified-gallery.min.css">
<!-- magnific popup -->
<link rel="stylesheet" href="/css/magnific-popup.css" />
<!-- revolution slider -->
<link rel="stylesheet" type="text/css" href="/revolution/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="/revolution/css/navigation.css">
<!-- bootsnav -->
<link rel="stylesheet" href="/css/bootsnav.css">
<!-- style -->
<link rel="stylesheet" href="/css/style.css" />
<!-- responsive css -->
<link rel="stylesheet" href="/css/responsive.css" />
<!--[if IE]>
	<script src="js/html5shiv.js"></script>
<![endif]-->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124172143-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124172143-1');
</script>


<!-- Hotjar Tracking Code for https://www.omniuswebdevelopment.ca/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2006905,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<style>
.h16{
font-size:16px;
}

.book-call a{
	border: 1px solid #fff !important;
	border-radius: 30px !important;
	padding: 8px 16px 8px 16px !important;
	color:#fff !important;
}
.book-call a:hover{
	background-color: #4dbb6d !important;
}

._2LpwQ___Wrapper__cls1._1cMla___Wrapper__media-tablet-up{
margin-top:8px !important;
margin-bottom:30px !important;
}

</style>