<!-- start testimonial style 01 section --> 
<section class="wow fadeIn bg-light-gray">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				
				<h5 class="text-uppercase alt-font text-extra-dark-gray margin-20px-bottom font-weight-700 md-width-100">Our clients love working with us</h5>
				<span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-table mx-auto width-100px"></span>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-md-7 col-lg-12 margin-100px-top md-margin-70px-top sm-margin-50px-top">
				<div class="row">
					<div class="col-12 col-lg-4 md-margin-two-bottom wow fadeIn last-paragraph-no-margin testimonial-style3">
						<!-- start testimonials item -->
						<div class="testimonial-box padding-25px-all sm-padding-20px-all">
							<!-- <div class="image-box width-20"><img src="http://placehold.it/149x149" class="rounded-circle" alt=""></div> -->
							<div class="name-box padding-20px-left">
								<div class="alt-font font-weight-600 text-small text-uppercase text-extra-dark-gray">Adele Lapointe</div>
								<p class="text-extra-small text-uppercase text-medium-gray">Chaos To Clarity</p>
							</div>
						</div>
						<div class="testimonial-content-box padding-twelve-all bg-white border-radius-6 box-shadow md-padding-eight-all">
							I really enjoyed working with Andrei. He listened well to what I wanted and was very patient and flexible with my changes. I was very pleased on how fast he was able to get my website live. I would definately recommend working with him.
						</div>
						
					</div>
					<!-- end testimonials item -->
					<!-- start testimonials item -->
					<div class="col-12 col-lg-4 sm-margin-two-bottom wow fadeIn last-paragraph-no-margin testimonial-style3" data-wow-delay="0.2s">
						<div class="testimonial-box padding-25px-all sm-padding-20px-all">
							<!-- <div class="image-box width-20"><img src="http://placehold.it/149x149" class="rounded-circle" alt=""></div> -->
							<div class="name-box padding-20px-left">
								<div class="alt-font font-weight-600 text-small text-uppercase text-extra-dark-gray">Benny Zappia </div>
								<p class="text-extra-small text-uppercase text-medium-gray">We Win Traffic Tickets</p>
							</div>
						</div>
						<div class="testimonial-content-box padding-twelve-all bg-white border-radius-6 box-shadow md-padding-eight-all">
							Omnius was great to work with and did everything I needed. They not only made me a clean and attractive website but also helped drastically lower my spending in online marketing while keeping client inflow the same.
						</div>
					</div>
					<!-- end testimonials item -->
					<!-- start testimonials item -->
					<div class="col-12 col-lg-4 wow fadeIn last-paragraph-no-margin testimonial-style3" data-wow-delay="0.4s">
						<div class="testimonial-box padding-25px-all sm-padding-20px-all">
							<!-- <div class="image-box width-20"><img src="http://placehold.it/149x149" class="rounded-circle" alt=""></div> -->
							<div class="name-box padding-20px-left">
								<div class="alt-font font-weight-600 text-small text-uppercase text-extra-dark-gray">Teresa Pascoe </div>
								<p class="text-extra-small text-uppercase text-medium-gray">All Pro Storage</p>
							</div>
						</div>
						<div class="testimonial-content-box padding-twelve-all bg-white border-radius-6 box-shadow md-padding-eight-all">
							Working with Andrei was an easy process. He listened to what our needs were, and helped to get our new site up and running as quick as possible.I would definitely recommend his services
						</div>
					</div>
					<!-- end testimonials item -->
				</div>
			</div>
		</div> 
	</div>
</section>
<!-- end testimonial style 01 section -->