<div class="container">
	<div class="row pricing-box-style1">
		<!-- start pricing item -->
		<div class="col-12 col-lg-4 col-md-6 text-center md-margin-30px-bottom wow fadeInUp">
			<div class="pricing-box border border-color-extra-light-gray bg-white">
				<div class="bg-deep-pink bg-extra-dark-gray padding-10px-tb alt-font text-white-2 font-weight-600 text-uppercase">Personal</div>
				<div class="bg-deep-pink text-white-2 padding-35px-all">
					<h4 class="text-white-2 font-weight-500 mb-0">$1500</h4>
					<div class="text-extra-small text-uppercase margin-5px-top">&nbsp;</div>
				</div>
				<!-- start pricing features -->
				<div class="padding-30px-all pricing-features md-padding-20px-all sm-padding-30px-all">
					<ul class="list-style-11">
						<li>Modern, responsive design</li>
						<li>Mobile-Responsive</li>
						<li>Basic analytics (Google Analytics)</li>
						<li>Contact form setup</li>
						<li>SSL badge</li>
						<li>1 round of revisions</li>
						<li>*Additional $150 per Website Page</li>
						<li>Designed for landing pages or supporting-sites (when a website is already established). Perfect also for a website redesign.</li>
					</ul>
					<!-- start pricing action -->
					<div class="pricing-action margin-35px-top md-no-margin-top">
						<a href="#contact" class="btn btn-transparent-dark-gray btn-very-small text-extra-small">Get Started Now!</a>                                        
					</div>
					<!-- end pricing action -->
					
				</div>
				<!-- end pricing features -->
			</div>
		</div>
		<!-- end pricing item -->
		<!-- start pricing item -->
		<div class="col-12 col-lg-4 col-md-6 text-center md-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
			<div class="pricing-box border border-color-extra-light-gray bg-white">
				<div class="bg-deep-pink padding-10px-tb alt-font text-white-2 font-weight-600 text-uppercase">Small Business</div>
				<div class="bg-deep-pink padding-35px-all">
					<h4 class="text-white-2 font-weight-500 mb-0">$2500</h4>
					<div class="text-white-2 text-extra-small text-uppercase margin-5px-top">&nbsp;</div>
				</div>
				<!-- start pricing features -->
				<div class="padding-30px-all pricing-features md-padding-20px-all sm-padding-30px-all">
					<ul class="list-style-11">
						<li>Professional Website Design</li>
						<li>Mobile-Responsive</li>
						<li>Basic analytics (Google Analytics)</li>
						<li>Contact form setup</li>
						<li>SSL badge</li>
						<li>One-time SEO setup </li>
						<li>Photo Sourcing</li>
						<li>2 rounds of revisions</li>
						<li>*Additional $100 per Website Page</li>
						<li>When you need everything taken care of for you. This is a typical small business website.</li>
					</ul>
					<!-- start pricing action -->
					<div class="pricing-action margin-35px-top md-no-margin-top">
						<a href="#contact" class="btn btn-transparent-dark-gray btn-very-small text-extra-small">Get Started Now!</a>                                        
					</div>
					<!-- end pricing action -->
				</div>
				<!-- end pricing features -->
			</div>
		</div>
		<!-- end pricing item -->
		<!-- start pricing item -->
		<div class="col-12 col-lg-4 col-md-6 text-center md-margin-30px-bottom wow fadeInUp" data-wow-delay="0.4s">
			<div class="pricing-box border border-color-extra-light-gray bg-white">
				<div class="bg-deep-pink padding-10px-tb alt-font text-white-2 font-weight-600 text-uppercase">Enterprise</div>
				<div class="bg-deep-pink padding-35px-all">
					<h4 class="text-white-2 font-weight-500 mb-0">$4500</h4>
					<div class="text-white-2 text-extra-small text-uppercase margin-5px-top">&nbsp;</div>
				</div>
				<!-- start pricing features -->
				<div class="padding-30px-all pricing-features md-padding-20px-all sm-padding-30px-all">
					<ul class="list-style-11">
						<li>Professional Website Design</li>
						<li>Mobile-Responsive</li>
						<li>Basic analytics (Google Analytics)</li>
						<li>Contact form setup</li>
						<li>SSL badge</li>
						<li>One-time SEO setup</li>
						<li>Photo Sourcing</li>
						<li>Professional copywriting (1000 words) </li>
						<li>Connect to mail system</li>
						<li>3 rounds of revisions</li>
						<li>Competitors stats package</li>
						<li>SEO package first month free</li>
						<li>*Additional $100 per Website Page</li>
						<li>For businesses that are serious about rapid growth</li>
					</ul>
					<!-- start pricing action -->
					<div class="pricing-action margin-35px-top md-no-margin-top">
						<a href="#contact" class="btn btn-transparent-dark-gray btn-very-small text-extra-small">Get Started Now!</a>                                        
					</div>
					<!-- end pricing action -->
					
				</div>
				<!-- end pricing features -->
			</div>
		</div>
		<!-- end pricing item -->				
	</div>
</div>