
<!-- start feature box section  -->
<section class="bg-extra-dark-gray">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-12 col-md-8 margin-eight-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center last-paragraph-no-margin">
				<h5 class="alt-font font-weight-700 text-white-2 margin-20px-bottom text-uppercase">Ready to work with Omnius? Here’s what happens next</h5>
			</div>
		</div>
		<div class="row">
			<!-- start feature box item -->
			<div class="col-12 col-xl-3 col-md-6 last-paragraph-no-margin lg-margin-30px-bottom wow fadeInLeft" data-wow-delay="0.6s">
				<div class="padding-40px-lr text-center border-right border-width-1 border-color-medium-dark-gray lg-no-border-right sm-padding-15px-lr">
					<h3 class="font-weight-300 letter-spacing-minus-2 text-deep-pink alt-font margin-10px-bottom">01</h3>
					<span class="alt-font d-block text-uppercase text-small"></span>
					<span class="text-white-2 text-uppercase alt-font text-extra-large font-weight-700 margin-20px-bottom d-block">Fill out form</span>
					<p>We make sure only to work with people we’re sure we can help. We’ll have some key questions to ask before we get into our 30 minute discovery call.</p>
				</div>
			</div>
			<!-- end feature box item -->
			<!-- start feature box item -->
			<div class="col-12 col-xl-3 col-md-6 last-paragraph-no-margin lg-margin-30px-bottom wow fadeInLeft" data-wow-delay="0.4s">
				<div class="padding-40px-lr text-center border-right border-color-medium-dark-gray lg-no-border-right sm-padding-15px-lr">
					<h3 class="font-weight-300 letter-spacing-minus-2 text-deep-pink alt-font margin-10px-bottom">02</h3>
					<span class="alt-font d-block text-uppercase text-small"></span>
					<span class="text-white-2 text-uppercase alt-font text-extra-large font-weight-700 margin-20px-bottom d-block">Discovery call</span>
					<p>We’ll have a focused and productive conversation about your business, target audience, your KPI’s, and what your specific needs are.</p>
				</div>
			</div>
			<!-- end feature box item -->
			<!-- start feature box item -->
			<div class="col-12 col-xl-3 col-md-6 last-paragraph-no-margin md-margin-30px-bottom wow fadeInLeft" data-wow-delay="0.2s">
				<div class="padding-40px-lr text-center border-right border-color-medium-dark-gray lg-no-border-right sm-padding-15px-lr">
					<h3 class="font-weight-300 letter-spacing-minus-2 text-deep-pink alt-font margin-10px-bottom">03</h3>
					<span class="alt-font d-block text-uppercase text-small"></span>
					<span class="text-white-2 text-uppercase alt-font text-extra-large font-weight-700 margin-20px-bottom d-block">Get started</span>
					<p>After our detailed proposal and signing agreements we’ll get started on a unique and tailored strategy for you.</p>
				</div>
			</div>
			<!-- end feature box item -->
			<!-- start feature box item -->
			<div class="col-12 col-xl-3 col-md-6 last-paragraph-no-margin wow fadeInLeft">
				<div class="padding-40px-lr text-center sm-padding-15px-lr">
					<h3 class="font-weight-300 letter-spacing-minus-2 text-deep-pink alt-font margin-10px-bottom">04</h3>
					<span class="alt-font d-block text-uppercase text-small"></span>
					<span class="text-white-2 text-uppercase alt-font text-extra-large font-weight-700 margin-20px-bottom d-block">ROI</span>
					<p>We will incorporate an end-to-end strategy that is much more than web design- keyword research, competitor analysis, funneling, as well as analysis of KPI’s and constant tweaking - in order to deliver a great return on investment for you.</p>
				</div>
			</div>
			<!-- end feature box item -->
			<!-- start features box -->
			<div class="col-12 col-lg-12 col-md-12 wow text-center fadeInUp last-paragraph-no-margin" data-wow-delay="0.6s">
			<a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/andreironcea/15min'});return false;"  target="_blank" class="btn btn-large btn-transparent-deep-pink btn-rounded margin-35px-top mr-0 white-space" style="white-space: break-spaces;">Yes! I want to get on a call with Andrei</a>
			</div> 
		</div>
	</div>
</section>
<!-- end feature box section  -->