<!-- start feature box section -->
<section class="wow fadeIn">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-12 col-md-8 margin-eight-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center last-paragraph-no-margin">
				<h5 class="alt-font font-weight-700 text-extra-dark-gray margin-20px-bottom text-uppercase">Ready to work with Omnius? Here’s what happens next</h5>
			</div>
		</div>
		<div class="row">
			<!-- start features box -->
			<div class="col-12 col-lg-6 col-md-6 md-margin-four-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">
				<div class="bg-white border-color-extra-medium-gray border-all text-center padding-eighteen-tb border-radius-4 position-relative h-100">
					<div class="d-inline-block margin-20px-bottom"><i class="icon-tools text-white-2 icon-round-small bg-deep-pink"></i></div>
					<div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Fill out form</div>
					<p class="width-75 mx-auto">We make sure only to work with people we’re sure we can help. We’ll have some key questions to ask before we get into our 30 minute discovery call. </p>
				</div>
			</div>
			<!-- end feature box -->
			<!-- start features box -->
			<div class="col-12 col-lg-6 col-md-6 md-margin-four-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
				<div class="bg-white border-color-extra-medium-gray border-all text-center padding-eighteen-tb border-radius-4 position-relative h-100">
					<div class="d-inline-block margin-20px-bottom"><i class="icon-search text-white-2 icon-round-small bg-deep-pink"></i></div>
					<div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Discovery call</div>
					<p class="width-75 mx-auto">We’ll have a focused and productive conversation about your business, target audience, your KPI’s, and what your specific needs are.</p>
				</div>
			</div>
			<!-- end feature box -->
			
		</div>
		<div class="row pt-3">
			<!-- start features box -->
			<div class="col-12 col-lg-6 col-md-6 sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
				<div class="bg-white border-color-extra-medium-gray border-all text-center padding-eighteen-tb border-radius-4 position-relative h-100">
					<div class="d-inline-block margin-20px-bottom"><i class="icon-scissors text-white-2 icon-round-small bg-deep-pink"></i></div>
					<div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Get started</div>
					<p class="width-75 mx-auto">After our detailed proposal and signing agreements we’ll get started on a unique and tailored strategy for you.</p>
				</div>
			</div>
			<!-- end feature box -->
			<!-- start features box -->
			<div class="col-12 col-lg-6 col-md-6 wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.6s">
				<div class="bg-white border-color-extra-medium-gray border-all text-center padding-eighteen-tb border-radius-4 position-relative h-100">
					<div class="d-inline-block margin-20px-bottom"><i class="icon-bargraph text-white-2 icon-round-small bg-deep-pink"></i></div>
					<div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">ROI</div>
					<p class="width-75 mx-auto">We will incorporate an end-to-end strategy that is much more than web design- keyword research, competitor analysis, funneling, as well as analysis of KPI’s and constant tweaking - in order to deliver a great return on investment for you.</p>
				</div>
			</div>
			<!-- end feature box -->
			<!-- start features box -->
			<div class="col-12 col-lg-12 col-md-12 wow text-center fadeInUp last-paragraph-no-margin" data-wow-delay="0.6s">
			<a href="#" class="btn btn-large btn-transparent-deep-pink btn-rounded margin-35px-top mr-0 white-space" style="white-space: break-spaces;">Yes! I want to get on a call with Andrei</a>
			</div>
		</div>
	</div>
</section>
<!-- end feature box section -->