<!DOCTYPE html>
<html lang="en">
	<head>
	<% include ../partials/head %>
	
	<style>
	</style>	
	
	</head>
	<body>
	<!-- start header -->
		<% include ../partials/header %>
	<!-- end header -->
	<!-- start page title section -->
	<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('images/patrick-tomasso-T2ocREvqbbo-unsplash.jpg');">
		<div class="opacity-medium bg-extra-dark-gray"></div>
		<div class="container">
			<div class="row">
				<div class="col-12 extra-small-screen page-title-large d-flex flex-column justify-content-center text-center">
					<!-- start page title -->
					<h1 class="text-white-2 alt-font font-weight-600 letter-spacing-minus-1 margin-15px-bottom">Contact</h1>
					<!-- end page title -->
					<!-- start sub title -->
					<span class="text-white-2 opacity6 alt-font">Increase your sales. Reach more clients. Make a lasting first impression. </span>
					<!-- end sub title -->
				</div>
			</div>
		</div>
	</section>
	<!-- end page title section -->

<!-- start contact form -->
        <section id="contact" class="wow fadeIn p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 cover-background md-height-450px sm-height-350px wow fadeIn" style="background: url('images/contact.jpg')"></div>
                    <div class="col-12 col-lg-6 text-center padding-six-lr padding-five-half-tb md-padding-ten-half-tb md-padding-twelve-half-lr sm-padding-15px-lr wow fadeIn">
                        <div class="text-medium-gray alt-font text-small text-uppercase margin-5px-bottom sm-margin-three-bottom">Fill out the form and we'll be in touch soon!</div>
                        <h5 class="margin-55px-bottom alt-font font-weight-700 text-uppercase sm-margin-ten-bottom">Ready to request a quote?</h5>
                            <form id="project-contact-form" class="kwes-form" method="POST" action="https://kwes.io/api/foreign/forms/nBXdo6OVkv2eeTt0fWun">
                            <div class="row">
                                <div class="col-12">
                                    <div id="success-project-contact-form" class="mx-0"></div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="text" name="name" id="name" placeholder="Name *" class="bg-transparent border-color-medium-dark-gray medium-input">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="text" name="phone" id="phone" placeholder="Phone" class="bg-transparent border-color-medium-dark-gray medium-input">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="text" name="email" id="email" placeholder="E-mail *" class="bg-transparent border-color-medium-dark-gray medium-input">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="select-style bg-transparent border-color-medium-dark-gray medium-select">
                                        <select name="budget" id="budget" class="bg-transparent mb-0">
                                            <option value="">Select your budget</option>
                                            <option value="$500 - $1000">$500 - $1000</option>
                                            <option value="$1000 - $2000">$1000 - $2000</option>
                                            <option value="$2000 - $5000">$2000 - $5000</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <textarea name="comment" id="comment" placeholder="Describe your project" rows="7" class="bg-transparent border-color-medium-dark-gray medium-textarea"></textarea>
                                </div>
                                <div class="col-12 text-center">
                                    <button id="project-contact-us-button" type="submit" class="btn btn-deep-pink btn-medium margin-15px-top">send message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- end contact form -->
	<!-- Start footer -->
		<% include ../partials/footer %>
	<!-- End footer -->
	
</body>
</html>