<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>
<!-- start page title section -->
	<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('images/about.jpg');">
		<div class="opacity-medium bg-extra-dark-gray"></div>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 d-flex flex-column justify-content-center text-center extra-small-screen page-title-large">
					<!-- start page title -->
					<h1 class="text-white-2 alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Pay Monthly Instead</h1>
					<!-- end page title -->
					
				</div>
			</div>
		</div>
	</section>
<!-- end page title section -->	


<!-- start information section -->
<section class="bg-light-gray">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-lg-5 md-margin-30px-bottom wow fadeInLeft">
				<img src="images/happy_lady3.jpg" class="w-100" alt=""/>
			</div>
			<div class="col-12 col-lg-6 offset-lg-1 wow fadeInRight">
				
				<h5 class="alt-font text-extra-dark-gray font-weight-600">Get a professionally-designed website – with no upfront cost.</h5>
				<p>We specialize in helping businesses like yours make a digital transition so you're not left in the
				dust, and helping you establish a strong digital foothold; end-to-end business generation instead of
				just online business cards.<br/>
				A complementary website design refresh every 2-3 years.<br/>
				All-inclusive web service designed to grow your business online.<br/>
				<strong>All this bundled into a monthly payment of just $299. </strong>
				If you need more, we do that too! We offer custom “booster packs” to take your online brand awareness – and sales – to the next level.</p>

				
			</div>
		</div>
	</div>
</section>
<!-- end information box section  -->

<!-- start fancy text box style 01 section -->
<section class="wow fadeIn">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
				<div class="position-relative overflow-hidden w-100">
					<span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">How does it work?</span>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- start feature box item -->
			<div class="col-12 col-md-4 feature-box-1 sm-margin-30px-bottom wow fadeIn last-paragraph-no-margin">
				<div class="d-flex align-items-center margin-15px-bottom alt-font">
					<h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600 mb-0">01.</h3>
					<span class="text-large text-extra-dark-gray line-height-22 padding-20px-left width-100">Submit your information.</span>
				</div>
				<p class="width-90 md-width-100">First, submit your info here and note that you'd like to pay monthly. If you're accepted we’ll then take you to our secure payment gateway to complete your subscription sign-up.</p>
				<br/>
				<a href="https://form.typeform.com/to/cKSs19" data-mode="popup"  target="_blank" class="btn btn-small btn-rounded btn-deep-pink wow fadeInUp typeform-share button" data-wow-delay="0.2s">Submit Info</a>
				<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
			</div>
			<!-- end feature box item -->
			<!-- start feature box item -->
			<div class="col-12 col-md-4 feature-box-1 sm-margin-30px-bottom wow fadeIn last-paragraph-no-margin" data-wow-delay="0.2s">
				<div class="d-flex align-items-center margin-15px-bottom alt-font">
					<h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600 mb-0">02.</h3>
					<span class="text-large text-extra-dark-gray line-height-22 padding-20px-left width-100">We create a plan.</span>
				</div>
				<p class="width-90 md-width-100">We’ll send you proof of payment, as well as a link to a more detailed questionnaire, so you can give us all the information we need to create and execute your plan. After you send us your reply, we’ll get back to you with a quote detailing the functionality and page count we think your site needs; how long we’ll take to build it; the total design and development costs; and your amortization period to pay it off (and own your website in full). We’ll also list any optional “booster packs” we think you’d benefit from.</p>
			</div>
			<!-- end feature box item -->
			<!-- start feature box item -->
			<div class="col-12 col-md-4 feature-box-1 wow fadeIn last-paragraph-no-margin" data-wow-delay="0.4s">
				<div class="d-flex align-items-center margin-15px-bottom alt-font">
					<h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600 mb-0">03.</h3>
					<span class="text-large text-extra-dark-gray line-height-22 padding-20px-left width-100">We get to work!.</span>
				</div>
				<p class="width-90 md-width-100">Once you’ve agreed to our quote, our team begins work on your new website, checking in with you every step of the way. If you have opted for booster packs, we get started on those too, updating you with monthly progress reports. And once your site is complete, our full suite of care – remote backups, software updates, security monitoring, malware cleanups, 24/7 support requests and more – kicks in to keep your site, and online presence, in tip-top shape.</p>
			</div>
			<!-- end feature box item -->
		</div>
	</div>
</section>
<!-- end fancy text box style 01 section -->	

<!-- start information section -->
<section class="bg-light-gray">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-lg-5 md-margin-30px-bottom wow fadeInLeft">
				<img src="images/rocket.jpg" class="w-100" alt=""/>
			</div>
			<div class="col-12 col-lg-6 offset-lg-1 wow fadeInRight">
				<span class="text-medium text-deep-pink alt-font margin-10px-bottom d-inline-block">With almost 5 years of experience, we know the web.</span>
				<h5 class="alt-font text-extra-dark-gray font-weight-600">Now we want to do it differently.</h5>
				<p>Omnius started as out as a web design & development company, building beautiful sites for people like you. As we grew, we noticed clients kept getting hung up on the same problems.<br/><br/>

Some found it a challenge to fund the large upfront expense of a website. They wished there was a way the cost could be more manageable and predictable.<br/><br/>

Once the website was complete, many clients did not know how (or have the time) to maintain it; keeping it secure, updated and protected against malware and hackers.<br/><br/>

Many business owners discovered that a great website alone is not enough to turbocharge their presence online! They needed interesting and frequently updated content, social media engagement, online & offline advertising, email lists and quality backlinks to drive traffic to their sites and convert leads to customers.<br/><br/>

In response to these challenges, we reinvented our business model to help time- and budget-conscious organizations like yours get better results online. </p>
				
			</div>
		</div>
	</div>
</section>
<!-- end information box section  -->
<!-- start feature box section -->
        <section class="wow fadeIn">
            <div class="container">
                
                <div class="row">
                    <!-- start feature box item -->
                    <div class="col-12 col-md-4 text-center text-md-left sm-margin-30px-bottom last-paragraph-no-margin wow fadeInUp">
                        <div class="margin-ten-bottom overflow-hidden image-hover-style-1 md-margin-20px-bottom">
                            <a ><img src="images/services/web-design.jpg" alt=""/></a>
                        </div>
                        <a  class="alt-font margin-5px-bottom d-block text-extra-dark-gray font-weight-600 text-uppercase text-small">What’s a “Web Design Subscription”?</a>
                        <p class="width-95 md-width-100">Think of a Web Design Subscription as something like a cell phone plan for your website. Instead of paying for the cost of the expensive “phone” (website) upfront, the total cost of your website design is bundled in with the cost of your ongoing services. In case of of a cell plan, the services would be your data and carrier costs; while in the case of a Web Design Subscription, the services are the ongoing hosting, maintenance and updates we provide for your site.</p>
                        <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
                       
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-12 col-md-4 text-center text-md-left last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                        <div class="margin-ten-bottom overflow-hidden image-hover-style-1 md-margin-20px-bottom">
                            <a ><img src="images/services/services.jpg" alt=""/></a>
                        </div>
                        <a class="alt-font margin-5px-bottom d-block text-extra-dark-gray font-weight-600 text-uppercase text-small">What’s a Managed Web Presence?</a>
                        <p class="width-95 md-width-100">We call our all-in-one, done-for-you solution to presenting and drawing traffic to your business online a “Managed Web Presence”. Learn how this holistic marketing approach can save your company time, money, and endless headaches, while building your brand into the internet powerhouse it deserves to be.</p>
                        <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
                       
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-12 col-md-4 text-center text-md-left last-paragraph-no-margin wow fadeInUp" data-wow-delay="0.4s">
                        <div class="margin-ten-bottom overflow-hidden image-hover-style-1 md-margin-20px-bottom">
                            <a><img src="images/hot-ballon.jpg" alt=""/></a>
                        </div>
                        <a class="alt-font margin-5px-bottom d-block text-extra-dark-gray font-weight-600 text-uppercase text-small">What can Omnius do for you?</a>
                        <p class="width-95 md-width-100">
You need a new website, but like many small-to-medium businesses, you have to keep an eye on your cashflow. It can be intimidating to make such a large investment all at once. You may not have the time or expertise to market online – and you don’t have time to learn. Even though you understand the importance of your online presence, you’ve been putting it off due to lack of time or upfront funds.<br/>

</p>
                        <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
                       
                    </div>                    
                    <!-- end feature box item -->
                </div>
            </div>
        </section>
        <!-- end  feature box section -->
	
 <!-- start answer section -->
	<section class="bg-light-gray wow fadeIn">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h6 class="text-uppercase text-center alt-font text-extra-dark-gray font-weight-600 margin-four-bottom">Our Services</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-6 wow fadeInRight">
					<!-- start accordion -->
					<div class="panel-group accordion-style1" id="accordion-one">
						<!-- start accordion item -->
						<div class="panel">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link1" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">wordpress Website Design<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
							</div>
							<div id="accordion-one-link1" data-parent="#accordion-one" class="panel-collapse collapse">
								<div class="panel-body">
									<p>WordPress is the most powerful, elegant content management system (CMS) available on the web today. That’s why it powers 33% of all websites on the internet, including big names like Disney, Sony & Target. It’s secure. It’s search-engine friendly. It’s free and easy to customize – meaning we can quickly and economically build you an amazing website to represent your brand on the web.</p>
									
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="panel">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link2" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Web Hosting & Backups<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
							</div>
							<div id="accordion-one-link2" data-parent="#accordion-one" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Your new website will be securely hosted on our high-performance, WordPress-optimized servers. Omnius also monitors your site’s uptime. If for any reason your site goes down, we’ll have it up and running again in a jiffy. To make sure we can always recover your site, we back it up daily and store it for 90 days on an independent remote server.</p> 
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="panel">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link3" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Security Updates & Monitoring<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
							</div>
							<div id="accordion-one-link3" data-parent="#accordion-one" class="panel-collapse collapse">
								<div class="panel-body">
									<p>As robust as it is, WordPress needs to be kept in good shape. Its popularity makes it a target for hackers looking for exploits. That’s why it’s important to check the core software and all plugins and themes regularly for security updates, and to monitor your site for hacks and malware. If your site is exploited, our team will detect it and move in quickly to repair the damage.</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="panel">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link4" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Website Performance Management<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
							</div>
							<div id="accordion-one-link4" data-parent="#accordion-one" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Every website we build is given an initial “health check” to ensure its performance, speed, and search-engine friendliness are the best they can be. The difference with Omnius is that we never stop checking these metrics, making sure your site is running fast and ranking well, month after month. </p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						
						<!-- start accordion item -->
						<div class="panel">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link6" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Monthly Reports<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
							</div>
							<div id="accordion-one-link6" data-parent="#accordion-one" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Never wonder what’s going on behind the scenes: we give you full visibility of all maintenance activity. Our maintenance dashboard gives you a running record of all plugin updates, backups and security scans run on your site. Our monthly email report will tell you about your website uptime, analytics and site speed, as well as any other tasks or management we performed that month.</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
					</div>
					<!-- end accordion -->
				</div>
				<div class="col-12 col-lg-6 wow fadeInRight">					
				<h5 class="alt-font text-extra-dark-gray font-weight-600">Web Design Subscription</h5>
				<p>Our monthly Web Design Subscription Plan sets us apart! For $321 a month, you’ll get a professional website and everything you need to keep it in tip-top shape. From design & development to domain name registration, SSL, CDN and hosting, we take care of it all.<br/>We’ll back up your site daily, protect it against malware & hacks, monitor uptime and fix it if anything goes wrong. We’ll keep your website running at top speed and in peak performance condition. We’ll make sure it remains attractive to Google and other search engines. And to keep it fresh, we’ll include a website design refresh (if desired) every 2-3 years. </p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-12 col-lg-6 wow fadeInRight">
					<h5 class="alt-font text-extra-dark-gray font-weight-600">Optional Booster Packs</h5>
						<p>Available exclusively to Omnius Web Design Subscription Plan subscribers, Booster Packs help you take your Managed Web Presence to a whole new level! These competitively priced “a la carte” services make it easy to execute your custom strategy and build brand awareness & sales online. Just buy them as you need them.<br/>Update your website with new articles and impactful images. Drive traffic to your site and with a Google Ads campaign. Build your following with a targeted social media campaign. Do a press release blitz and introduce your message to a wider audience. Open an eStore and sell your goods and services online.The possibilities are endless.</p>
				</div>
				<div class="col-12 col-lg-6 wow fadeInRight">					
				

				<!-- start accordion -->
					<div class="panel-group accordion-style1" id="accordion-two">
						<!-- start accordion item -->
						<div class="panel">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link1" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Content Creation<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
							</div>
							<div id="accordion-two-link1" data-parent="#accordion-two" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Does your website, blog or social media account feel stale and in need of a makeover? We can help. Increase your online authority with relevant, professionally written articles, with our Write On Booster Pack. Give your online presence a facelift, and optimize your existing images, with our Image Overhaul Pack. Make your data more compelling with an Infographic Magic Pack. </p>
									
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="panel">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link2" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">engagement & image management<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
							</div>
							<div id="accordion-two-link2" data-parent="#accordion-two" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Feeling like your online engagement is lacklustre? Are you followers drifting away? Let us jazz up your messaging and get people excited with our Social Butterfly Booster Pack. If your brand struggles to inspire interest, loyalty and trust online, we can help you attract reviews and earn social capital with our Reputation Elevation Pack.</p> 
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						
						<!-- start accordion item -->
						<div class="panel">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link4" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Traffic & lead generation<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
							</div>
							<div id="accordion-two-link4" data-parent="#accordion-two" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Having an attractive and engaging website is one thing – but what if nobody is finding it? If your traffic stats are depressing you, let us cheer you up. Get your message in front of thousands of eyeballs, in your targeted demographic, with a Google Ads Extreme Booster Pack. The Backlink Builder Pack secures links to your site from quality sources around the web – making you more interesting to humans (and irresistible to Google’s ranking algorithms). </p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="panel">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Monthly updates<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
							</div>
							<div id="accordion-two-link5" data-parent="#accordion-two" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Need things changed or updated often? Buy this booster package to get a great deal on that. If you require more updates, no problem! We offer bulk discounts.</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
					</div>
					<!-- end accordion -->
				</div>
			</div>
		</div>
	</section>
<!-- end answer section -->
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>