<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<!-- start header -->
			<% include ../partials/header %>
		<!-- End header -->	
		
		<!-- start header section-->
			<% include ../partials/header_section %>
		<!-- End header section--> 
			
		<!-- start consultation section -->
		<% include ../partials/ready %>
		<!-- End consultation section --> 	
		
		<!-- start consultation section -->
		<% include ../partials/blurb_noise %>
		<!-- End consultation section -->
		
		<!-- start consultation section -->
		<% include ../partials/contact %>
		<!-- End consultation section -->
			
		<!-- start consultation section -->
		<% include ../partials/our_clients %>
		<!-- End consultation section -->		
			
		<!-- start consultation section -->
		<% include ../partials/faqs %>
		<!-- End consultation section -->	
	
		<!-- start consultation section -->
		<% include ../partials/our_services %>
		<!-- End consultation section -->
	<!-- start contact section -->
	<% include ../partials/contact_form %>
	<!-- End contact section -->  
		
		<!-- Start footer -->
			<% include ../partials/footer %>
		<!-- End footer -->	
	</body>
</html>