<!DOCTYPE html>
<html lang="en">
	<head>
	<% include ../partials/head %>
	
	<style>
	</style>	
	
	</head>
	<body>
	<!-- start header -->
		<% include ../partials/header %>
	<!-- end header -->
	<!-- start page title section -->
	<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('images/pricing.jpg');">
		<div class="opacity-medium bg-extra-dark-gray"></div>
		<div class="container">
			<div class="row">
				<div class="col-12 extra-small-screen page-title-large d-flex flex-column justify-content-center text-center">
					<!-- start page title -->
					<h1 class="text-white-2 alt-font font-weight-600 letter-spacing-minus-1 margin-15px-bottom">Pricing</h1>
					<!-- end page title -->
					<!-- start sub title -->
					<span class="text-white-2 opacity6 alt-font">Increase your sales. Reach more clients. Make a lasting first impression. </span>
					<!-- end sub title -->
				</div>
			</div>
		</div>
	</section>
	<!-- end page title section -->
		<!-- start pricing table style 02 section -->
	<section class="wow fadeIn bg-light-gray">
		<% include ../partials/pricing %>
	</section>
	<!-- end pricing table style 02 section -->
<!-- start our_services section -->
	<% include ../partials/our_services %>
<!-- End our_services section -->

<!-- start blurb_noise section -->
	<% include ../partials/blurb_noise %>
<!-- End blurb_noise section -->

<!-- start ready section -->
	<% include ../partials/ready %>
<!-- End ready section -->

<!-- start our_clients section -->
	<% include ../partials/our_clients %>
<!-- End our_clients section -->
		
<!-- start contact section -->
	<% include ../partials/contact %>
	<!-- start contact section -->
	<% include ../partials/contact_form %>
	<!-- End contact section --> 
<!-- End contact section -->
	<!-- Start footer -->
		<% include ../partials/footer %>
	<!-- End footer -->
	
</body>
</html>