<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>
	<!-- start page title section -->
		<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('images/about.jpg');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 d-flex flex-column justify-content-center text-center extra-small-screen page-title-large">
                        <!-- start page title -->
                        <h1 class="text-white-2 alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Burlington SEO</h1>
                        <!-- end page title -->
                        <!-- start sub title -->
                        <span class="text-white-2 opacity6 alt-font">Monthly contracts that are refunded if you don’t improve. Can’t find this anywhere else.</span>
                        <!-- end sub title -->
                    </div>
                </div>
            </div>
        </section>
    <!-- end page title section -->	
    <!-- start story section -->
        <section class="wow fadeIn">
            <div class="container"> 
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6 text-center md-margin-30px-bottom wow fadeInLeft">
                        <img src="images/about-us.jpg" alt="" class="border-radius-6 w-100">
                    </div> 
                    <div class="col-12 col-lg-6 padding-four-lr text-center text-lg-justify lg-padding-nine-right md-padding-15px-lr wow fadeInRight" data-wow-delay="0.2s">
                        <h6 class="alt-font text-extra-dark-gray">We help you stand out in Burlington by doing things differently.</h6>
                        <p><b>We primarily create websites, because we see websites as the final frontier of a visitor’s journey online.</b> It doesn’t matter how well your ads do, or how much customers keep coming back to you once they’ve bought (LTV), what matters is are you able to convince new visitors that you’re the solution to their problem?<br/>That’s why we see <b>SEO, digital marketing, and optimizing customer lifetime value</b> as secondary. Because we also know our target market. We’re not interested in working with SaaS companies, tech startups, or conglomerates with franchises. <b>We work with local businesses- large or small.</b> We know their issues and have tailored our offerings to best work with them. <i>We will only take on clients that we are 100% we can help.</i></p>
                    </div>
                </div>                
            </div>
        </section>
    <!-- end story section -->
	
	        <!-- start feature box section -->
        <section class="p-0 wow fadeIn bg-extra-dark-gray">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 cover-background md-height-500px sm-height-350px wow fadeIn" style="background-image:url('images/homepage-option15-image-4.jpg');"><div class="sm-height-400px"></div></div>
                    <div class="col-12 col-lg-6 padding-five-tb padding-five-half-lr lg-padding-50px-tb md-padding-70px-tb md-padding-15px-lr wow fadeIn">
                        <div class="row m-0">
                            <div class="col-12 margin-four-bottom lg-margin-six-bottom md-margin-40px-bottom sm-margin-30px-bottom sm-no-padding-lr text-center text-md-left">
                                <h4 class="alt-font text-white-2 text-center text-lg-left md-width-70 mx-auto mx-lg-0 md-no-margin-bottom sm-width-100">Our Burlington SEO Goals for you</h4>
                            </div>
                            <!-- start feature box item -->
                            <div class="col-12 col-xl-12 col-lg-12 col-md-12 lg-margin-six-bottom md-margin-30px-bottom sm-no-padding last-paragraph-no-margin text-center text-md-left">
                                <div class="text-light-gray margin-10px-bottom md-margin-5px-bottom alt-font"><span class="text-deep-pink margin-15px-right float-left text-large d-block d-md-inline-block sm-width-100">01.</span>Get more visitors on your website. We’ll make</div>
                                <p></p>
                            </div>
                            <!-- end feature box item -->
                            <!-- start feature box item -->
                            <div class="col-12 col-xl-12 col-lg-12 col-md-12 lg-margin-six-bottom md-margin-30px-bottom sm-no-padding last-paragraph-no-margin text-center text-md-left">
                                <div class="text-light-gray margin-10px-bottom md-margin-5px-bottom alt-font"><span class="text-deep-pink margin-15px-right float-left text-large d-block d-md-inline-block sm-width-100">02.</span>Get more leads. Just by ranking more highly on Google you’ll get visitors to trust you more. They’ll already have a higher opinion of your business before they enter your website. When they enter your website </div>
                                <p></p>
                            </div>
                            <!-- end feature box item -->
                            <!-- start feature box item -->
                            <div class="col-12 col-xl-12 col-lg-12 col-md-12 lg-margin-six-bottom md-no-margin-bottom sm-margin-30px-bottom sm-no-padding last-paragraph-no-margin text-center text-md-left">
                                <div class="text-light-gray margin-10px-bottom md-margin-5px-bottom alt-font"><span class="text-deep-pink margin-15px-right float-left text-large d-block d-md-inline-block sm-width-100">03.</span>Get more sales.You really need your business or organization to rank as high as possible on search engines to reach your full potential online.</div>
                                <p></p>
                            </div>
                            <!-- end feature box item -->
                            <!-- start feature box item -->
                            <div class="col-12 col-xl-12 col-lg-12 col-md-12 md-no-margin-bottom sm-no-padding last-paragraph-no-margin text-center text-md-left">
                                <div class="text-light-gray margin-10px-bottom md-margin-5px-bottom alt-font"><span class="text-deep-pink margin-15px-right float-left text-large d-block d-md-inline-block sm-width-100">04.</span>4)	Get back customers from your competitors. Oftentimes, competitorspay Google to rank for your business name – your competitor can pay Google to show up first when people search up your name! We’ve seen this happen quite often and you’ll want to take back your ranking since this can be a negative spiral for your business.</div>
                                <p></p>
                            </div>
                            <!-- end feature box item -->
                           
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end feature box section -->


<!-- start blurb_noise section -->
	<% include ../partials/blurb_noise %>
<!-- End blurb_noise section -->

<!-- start ready section -->
	<% include ../partials/ready %>
<!-- End ready section -->

<!-- start ready section -->
	<% include ../partials/faqs3 %>
<!-- End ready section -->

<!-- start our_clients section -->
	<% include ../partials/our_clients %>
<!-- End our_clients section -->
		
<!-- start contact section -->
	<% include ../partials/contact_form %>
<!-- End contact section -->	
	
	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>