<!DOCTYPE html>
<html lang="en">
	<head>
	<% include ../partials/head %>
	
	<style>
	</style>	
	
	</head>
	<body>
	<!-- start header -->
		<% include ../partials/header %>
	<!-- end header -->
	
    <!-- start page title section -->
    <section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('images/services.jpg');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 d-flex flex-column justify-content-center text-center extra-small-screen page-title-large">
                        <!-- start page title -->
                        <h1 class="text-white-2 alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Our Services</h1>
                        <!-- end page title -->
                       
                    </div>
                </div>
            </div>
        </section>
    <!-- end page title section -->

	<!-- start section -->
	<section class="wow fadeIn">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-lg-6 md-margin-30px-bottom wow fadeInLeft">
					<img src="images/services/web-design.jpg" class="w-100" alt="" />
				</div>
				<div class="col-12 col-xl-5 col-lg-6 offset-xl-1 wow fadeInRight">
					<h5 class="alt-font text-extra-dark-gray font-weight-600 margin-30px-bottom">Web Design</h5>
					<p>
						What makes an amazing website? Purpose. Visual appeal. Relevant and non-stock content. Clear site navigation & much more. Here at Omnius, we’re obsessed with making websites not good, not great, but amazing. We’re obsessed with results, because websites have one main purpose- to sell your business online. And most importantly, we’re obsessed with working with our clients as a team. That’s why we start with comprehensive on-boarding process where we really get to know your business and your target audience. Your investment in us is an investment into building your business. 
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- end section -->
		<!-- start information section -->
        <section class="bg-light-gray">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6 wow fadeInLeft">
                        <h5 class="alt-font text-extra-dark-gray font-weight-600">Search Engine Optimization</h5>
                        <p>The most valuable traffic out there is traffic from a search engine. Because these people are already primed to buy. Search engine optimization is about ensuring you rank highly for certain keywords in order to get this valuable traffic.</p>
                        <p>We’re so confident in our ability to improve your ranking that we offer a money-back guarantee if you don’t improve your keyword position in google or get more organic traffic at the end of the month (did we mention we let you pay on a month-by-month basis?). "Say goodbye to the slimy agencies that ask for 6 months upfront and don’t offer any guarantees"- "we put our money where our mouth is" and when it comes to our industry we don’t see anyone else doing this.</p>
                    </div>
                    <div class="col-12 col-lg-5 offset-lg-1 md-margin-30px-bottom wow fadeInRight">
                        <img src="images/services/SEO.jpg" class="w-100" alt=""/>
                    </div>
                </div>
            </div>
        </section>
        <!-- end information box section  -->
		
		<!-- start section -->
        <section class="wow fadeIn p-10">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6 md-margin-30px-bottom wow fadeInLeft">
                        <img src="images/services/google-adwords.jpg" class="w-100" alt="" />
                    </div>
                    <div class="col-12 col-xl-5 col-lg-6 offset-xl-1 wow fadeInRight">
                        <h5 class="alt-font text-extra-dark-gray font-weight-600 margin-30px-bottom">Google Adwords</h5>
                        <p>We take advantage of having a vertical offering (by offering web design we have more control over improving your results in SEO and Google adwords). We implement new strategies that you may not use yourself, and we split test heavily to make sure you’re consistently profitable.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
<!-- start our_services section -->
	<% include ../partials/for_services %>
<!-- End our_services section -->
<!-- start blurb_noise section -->
	<% include ../partials/blurb_noise %>
<!-- End blurb_noise section -->

<!-- start ready section -->
	<% include ../partials/ready %>
<!-- End ready section -->

<!-- start our_clients section -->
	<% include ../partials/our_clients %>
<!-- End our_clients section -->
		
<!-- start contact section -->
	<% include ../partials/contact %>
<!-- End contact section -->
	<!-- start contact section -->
	<% include ../partials/contact_form %>
	<!-- End contact section --> 
	<!-- Start footer -->
		<% include ../partials/footer %>
	<!-- End footer -->
	
</body>
</html>